<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
<title>科室报告-放射科</title>
<link rel="stylesheet" type="text/css" href="Resource/tzj/css/internal_1.0.css">
<script src="public/static/jquery-2.0.3.min.js"></script>
<script type="text/javascript"src="Resource/tzj/js/order.js"></script>
<script type="text/javascript">
$(document).ready(function(){ 
	
	
});
</script>
</head>
<body>
<div class="internal">
	<div class="internal_main">
        <div>{$check}</div>
        
    </div>
    
	<div class="clear"></div>
</div>

</body>
</html>