<extend name="Base/common" />
<block name="body">
  <div class="span9 page_message">
    <section id="contents">
      <include file="Addons/_nav" />	  
	  
      <div class="tab-content"> 
        <!-- 表单 -->
        <form id="form" action="{:U('push')}" method="post" class="form-horizontal form-center">
          <!-- 基础文档模型 -->

            <div id="tab1" class="tab-pane in tab1">

                  <div class="form-item cf" rel="openid">
                    <label class="item-label">OPENID：<span class="check-tips"></span></label>
                    <div class="controls">
                          <label class="textarea input-large">
                            <input name="openid" type="text" value="{$openid}" class="text input-large">
							<input name="id" type="hidden" value="{$id}" class="text input-large">
                          </label>
                    </div>
                  </div>
				  <div class="form-item cf" rel="template_id">
                    <label class="item-label">症状：<span class="check-tips">{$symptom}</span></label>                 
                         
                    
                  </div>                  
                  <div class="form-item cf" rel="url">
                    <label class="item-label">跳转地址：<span class="check-tips">http://开头</span></label>
                    <div class="controls">
                          <label class="textarea input-large">
                            <input name="url" type="text" class="text input-large">
                          </label>
                    </div>
                  </div>
				  <div class="form-item cf" rel="url">
                    <label class="item-label">开始语<span class="check-tips"></span></label>
                    <div class="controls">
                          <label class="textarea input-large">
                            <input name="first" type="text" value="你好" class="text input-large">
                          </label>
                    </div>
                  </div>
				   <div class="form-item cf" rel="url">
                    <label class="item-label">姓名<span class="check-tips"></span></label>
                    <div class="controls">
                          <label class="textarea input-large">
                               <input name="keyword1" type="text" value="" class="text input-large">
                          </label>
                    </div>
                  </div>
				   <div class="form-item cf" rel="url">
                    <label class="item-label">性别<span class="check-tips"></span></label>
                    <div class="controls">
                          <label class="textarea input-large">
                             <input name="keyword2" type="text" value="" class="text input-large">
                          </label>
                    </div>
                  </div>
				   <div class="form-item cf" rel="url">
                    <label class="item-label">电话<span class="check-tips"></span></label>
                    <div class="controls">
                          <label class="textarea input-large">
                            <input name="keyword3" type="text" value="" class="text input-large">
                          </label>
                    </div>
                  </div>
                  <div class="form-item cf" rel="url">
                    <label class="item-label">体检套餐<span class="check-tips"></span></label>
                    <div class="controls">
                          <label class="textarea input-large">
                            <input name="keyword4" type="text" value="" class="text input-large">
                          </label>
                    </div>
                  </div>
                  <div class="form-item cf" rel="url">
                    <label class="item-label">体检日期<span class="check-tips"></span></label>
                    <div class="controls">
                          <label class="textarea input-large">
                            <input name="keyword5" type="text" value="" class="text input-large">
                          </label>
                    </div>
                  </div>
				  <div class="form-item cf" rel="url">
                    <label class="item-label">结束语<span class="check-tips"></span></label>
                    <div class="controls">
                          <label class="textarea input-large">
                            <input name="remark" type="text" value="祝你健康" class="text input-large">
                          </label>
                    </div>
                  </div>
                 


			<!--<input type="submit" value="提交" />-->
          <div class="form-item cf">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">发 送</button> 
             </div>
        </form>
        </div>

      </div>
    </section>
  </div>
</block>
<block name="script">
  <link href="__STATIC__/datetimepicker/css/datetimepicker.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
  <php>if(C('COLOR_STYLE')=='blue_color') echo '
    <link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
    ';</php>
  <link href="__STATIC__/datetimepicker/css/dropdown.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script> 
  <script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js?v={:SITE_VERSION}" charset="UTF-8"></script> 
  <script type="text/javascript">
 $('#submit').click(function(){
    $('#form').submit();
}); 
$(function(){
    $('.time').datetimepicker({
        format: 'yyyy-mm-dd hh:ii',
        language:"zh-CN",
        minView:2,
        autoclose:true
    });
    $('.date').datetimepicker({
        format: 'yyyy-mm-dd',
        language:"zh-CN",
        minView:2,
        autoclose:true
    });	
    showTab();
	$('#form select').change(change_event(this));
	$('#form input[name="radio"]').change(change_event(this));
	$('#form input[name="checkbox"]').change(change_event(this));
});
function change_event(obj){
	
}
</script> 
</block>
